<div class="container-root">
  <ul class="list-group">
    <li class="list-group-item"><a [routerLink]="['/crud/create']" routerLinkActive="router-link-active" >Create</a></li>
    <li class="list-group-item"><a [routerLink]="['/crud/update']" routerLinkActive="router-link-active" >Update</a></li>
    <li class="list-group-item"><a [routerLink]="['/crud/list']" routerLinkActive="router-link-active" >list</a></li>
    <li class="list-group-item"><a [routerLink]="['/crud/delete']" routerLinkActive="router-link-active" >Delete</a></li>

  </ul>
</div>
