<div class="container">
  <!-- <app-pai></app-pai> -->

  <div class="list-group">
    <button [routerLink]="['/dashboard/comunicacao-familia']" routerLinkActive="router-link-active"  type="button" class="list-group-item list-group-item-action " >
      Comunicação entre Componentes
    </button>
    <button type="button" class="list-group-item list-group-item-action">A second item</button>
    <button type="button" class="list-group-item list-group-item-action">A third button item</button>
    <button type="button" class="list-group-item list-group-item-action">A fourth button item</button>

  </div>

</div>


