<div class="container">
  <!-- <app-pai></app-pai> -->

  <div class="list-group">
    <button [routerLink]="['/dashboard/comunicacao-familia']" routerLinkActive="router-link-active" type="button"
      class="list-group-item list-group-item-action ">
      Comunicação entre Componentes
    </button>
    <button [routerLink]="['/dashboard/comunicacao-service']" routerLinkActive="router-link-active" type="button"
      class="list-group-item list-group-item-action">Comunicação componente e serviço</button>
    <button type="button" class="list-group-item list-group-item-action">Crud Angular</button>
    <button type="button" class="list-group-item list-group-item-action">A fourth button item</button>

  </div>

</div>
